body {
  font-family: Roboto, sans-serif;
  background-color: rgb(255, 240, 224);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headings {
  color: rgb(128, 64, 0);
}

.sinigang-description {
  width: 500px;
}